# **Project "The influence of countries' investment in health on population mortality"**
**By: Julie Tenwolde(6184587) & Gabriela Ioan (6207190)**

#**Introduction**

In the Healthcare dataset multiple healthrisks, mortality in different ages and expenditure per country are indicated. By choosing the mortality in different age groups and the total expenditure per country, the following research question was created:

# **Research question**
- What is the influence of the total health expenditure of a country on the mortality rate in infants, children and adults?

# **Loading the dataset**

In [ ]:
# pandas module for working with Series and Dataframes
import pandas as pd
import altair as alt
#imprt altair & widgets
import altair as alt
import ipywidgets as widgets
from ipywidgets import interact, fixed
# load dataset
HealthFactorsData= pd.read_csv('https://raw.githubusercontent.com/NHameleers/dtz2025-datasets/master/CountryHealthFactors.csv')
#numbers of rows and columns 
HealthFactorsData.shape

(2938, 22)

In [ ]:
HealthFactorsData.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

The result of the code above, shows that all the column headings are formulated differently. Some of the headings start with a capital while others do not. Besides this, the heading 'under-five deaths' contains an extra space after the text. Due to this space, the 'under-five deaths' leads to an error while using .loc for selecting the relevant columns for the research question. The problem was solved by renaming all column names with the same format. By using the **strip** function in combination with the **lower** function, all the headings starting with a capital letter will change into a lowercase letter and all the extra spaces will be removed. By doing this, the variables are easier to use in the data analysis.

In [ ]:
# issue of the names and solution
hf=HealthFactorsData.rename(columns=str.strip).rename(columns=str.lower)
hf

,country,year,status,life expectancy,adult mortality,infant deaths,alcohol,percentage expenditure,hepatitis b,measles,...,polio,total expenditure,diphtheria,hiv/aids,gdp,population,thinness 1-19 years,thinness 5-9 years,income composition of resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

# **Selecting a subset**

The selected variables could be needed for the research question as outcome measures. By selecting the countries, the user could fill in the different countries in the interactive visualisation to see whether the countries differentiate from each other. By selecting the year, either the mean of the last couple of years or the outcome of the last year could be used to compare the countries with each other. The population could be used to make up a ratio of the mortality over the total population.

In [ ]:
outcomes= hf.loc[:, ["country","year", "status", "adult mortality", "infant deaths", "total expenditure", "population", "under-five deaths"]]
outcomes

,country,year,status,adult mortality,infant deaths,total expenditure,population,under-five deaths
0,Afghanistan,2015,Developing,263.0,62,8.16,33736494.0,83
1,Afghanistan,2014,Developing,271.0,64,8.18,327582.0,86
2,Afghanistan,2013,Developing,268.0,66,8.13,31731688.0,89
3,Afghanistan,2012,Developing,272.0,69,8.52,3696958.0,93
4,Afghanistan,2011,Developing,275.0,71,7.87,2978599.0,97
...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,723.0,27,7.13,12777511.0,42
2934,Zimbabwe,2003,Developing,715.0,26,6.52,12633897.0,41
2935,Zimbabwe,2002,Developing,73.0,25,6.53,125525.0,40
2936,Zimbabwe,2001,Developing,686.0,25,6.16,12366165.0,39
2937,Zimbabwe,2000,Developing,665.0,24,7.10,12222251.0,39

# **Exploring the data**

We could already see some big issues with the dataset by using head() and tail() methods: for example, population variable is not consistent over the years within each country. Therefore, after this point the popultation variable wil be left out.

In [ ]:
outcomes.head()

,country,year,status,adult mortality,infant deaths,total expenditure,population,under-five deaths
0,Afghanistan,2015,Developing,263.0,62,8.16,33736494.0,83
1,Afghanistan,2014,Developing,271.0,64,8.18,327582.0,86
2,Afghanistan,2013,Developing,268.0,66,8.13,31731688.0,89
3,Afghanistan,2012,Developing,272.0,69,8.52,3696958.0,93
4,Afghanistan,2011,Developing,275.0,71,7.87,2978599.0,97

In [ ]:
outcomes.tail()

,country,year,status,adult mortality,infant deaths,total expenditure,population,under-five deaths
2933,Zimbabwe,2004,Developing,723.0,27,7.13,12777511.0,42
2934,Zimbabwe,2003,Developing,715.0,26,6.52,12633897.0,41
2935,Zimbabwe,2002,Developing,73.0,25,6.53,125525.0,40
2936,Zimbabwe,2001,Developing,686.0,25,6.16,12366165.0,39
2937,Zimbabwe,2000,Developing,665.0,24,7.10,12222251.0,39

In [ ]:
outcomes.describe()

,year,adult mortality,infant deaths,total expenditure,population,under-five deaths
count,2938.000000,2928.000000,2938.000000,2712.00000,2.286000e+03,2938.000000
mean,2007.518720,164.796448,30.303948,5.93819,1.275338e+07,42.035739
std,4.613841,124.292079,117.926501,2.49832,6.101210e+07,160.445548
min,2000.000000,1.000000,0.000000,0.37000,3.400000e+01,0.000000
25%,2004.000000,74.000000,0.000000,4.26000,1.957932e+05,0.000000
50%,2008.000000,144.000000,3.000000,5.75500,1.386542e+06,4.000000
75%,2012.000000,228.000000,22.000000,7.49250,7.420359e+06,28.000000
max,2015.000000,723.000000,1800.000000,17.60000,1.293859e+09,2500.000000

the database contains some missing data. To analyse the data correctly, the missing data should be filtered out of the dataset. To do this, it is good to know in which colomns these mising data points can be found. After locating these missing data points, these points should be deleted. These steps are shown below this cel.

In [ ]:
outcomes.isnull().sum()

country                0
year                   0
status                 0
adult mortality       10
infant deaths          0
total expenditure    226
population           652
under-five deaths      0
dtype: int64

In [ ]:
outcomes.dropna(inplace=True)

In [ ]:
outcomes.isnull().sum()

country              0
year                 0
status               0
adult mortality      0
infant deaths        0
total expenditure    0
population           0
under-five deaths    0
dtype: int64

# **Describing and visualizing the data**

With the use of the **groupby** function, the mean, standard deviation and the quartile range of the mortality in the different age catagories and the total expenditure of each country are shown.

In [ ]:
#This shows the mean, standard deviation and quartile range of the mortality in different age catagories and the total expenditure of each country
outcomes.groupby('country')['adult mortality', 'infant deaths', 'under-five deaths', 'total expenditure'].describe()

<ipython-input-11-ed0e26b6634b>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  outcomes.groupby('country')['adult mortality', 'infant deaths', 'under-five deaths', 'total expenditure'].describe()

            adult mortality                                                \
                      count        mean         std    min     25%    50%
country
Afghanistan            16.0  269.062500   72.760309    3.0  271.75  284.0
Albania                16.0   45.062500   39.218140    1.0   13.25   17.5
Algeria                15.0  114.133333   42.934945   11.0  114.50  126.0
Angola                 15.0  328.133333  115.244998   44.0  356.50  369.0
Argentina              15.0  105.333333   48.574930   12.0  118.50  126.0
...                     ...         ...         ...    ...     ...    ...
Uruguay                15.0  120.200000    4.601242  111.0  117.50  119.0
Uzbekistan             15.0  184.866667    2.531704  183.0  183.00  184.0
Vanuatu                15.0  146.200000   38.498980   18.0  139.50  153.0
Zambia                 15.0  375.733333  194.117220   45.0  321.00  366.0
Zimbabwe               15.0  470.800000  248.400943    7.0  385.00  527.0

                          infant deaths             ... under-five deaths  \
               75%    max         count       mean  ...               75%
country                                             ...
Afghanistan  295.0  321.0          16.0  78.250000  ...             120.5
Albania       86.5   99.0          16.0   0.687500  ...               1.0
Algeria      140.5  146.0          15.0  20.266667  ...              24.0
Angola       381.5  391.0          15.0  84.933333  ...             153.5
Argentina    133.0  138.0          15.0  10.266667  ...              12.5
...            ...    ...           ...        ...  ...               ...
Uruguay      123.0  131.0          15.0   0.600000  ...               1.0
Uzbekistan   185.0  192.0          15.0  22.400000  ...              29.5
Vanuatu      167.0  179.0          15.0   0.000000  ...               0.0
Zambia       540.0  614.0          15.0  33.866667  ...              60.5
Zimbabwe     675.5  723.0          15.0  26.866667  ...              44.5

                   total expenditure                                          \
               max             count      mean       std   min     25%   50%
country
Afghanistan  122.0              16.0  8.252500  0.671779  6.73  7.8525  8.19
Albania        1.0              16.0  5.945625  0.288721  5.34  5.7700  5.94
Algeria       25.0              15.0  4.604000  1.354984  3.24  3.5700  3.84
Angola       160.0              15.0  3.919333  0.692753  2.79  3.3800  3.84
Argentina     14.0              15.0  6.912667  1.418261  4.79  6.1900  6.68
...            ...               ...       ...       ...   ...     ...   ...
Uruguay        1.0              15.0  8.750000  1.472238  6.52  7.9950  8.58
Uzbekistan    36.0              15.0  5.638000  0.460469  5.11  5.2850  5.49
Vanuatu        0.0              15.0  3.928667  0.495679  3.28  3.6650  3.87
Zambia        72.0              15.0  5.824000  1.345818  4.26  4.8000  4.99
Zimbabwe      46.0              15.0  6.158667  0.805400  4.47  5.7650  6.44


                75%    max
country
Afghanistan  8.7225   9.42
Albania      6.1550   6.38
Algeria      5.3250   7.21
Angola       4.3900   5.38
Argentina    7.9250   9.38
...             ...    ...
Uruguay      8.7600  11.59
Uzbekistan   5.8800   6.49
Vanuatu      4.0400   5.20
Zambia       7.0450   8.18
Zimbabwe     6.6100   7.13

[143 rows x 32 columns]

This table gives a clearer view of the mean mortality for the different age catagories and the mean total expanditure per country over 15 years

In [ ]:
#This shows the mean of mortality for each age catagorie, the total expenditure and the mean population over 15 years with the status column added
mean_outcomes = outcomes.groupby('country').agg(status=('status', 'first'),
                                mean_adult_mortality= ('adult mortality', 'mean'), 
                                mean_infant_deaths=('infant deaths', 'mean'), 
                                mean_underfive_deaths=('under-five deaths', 'mean'), 
                                mean_total_expenditure=('total expenditure', 'mean')).reset_index()
mean_outcomes

,country,status,mean_adult_mortality,mean_infant_deaths,mean_underfive_deaths,mean_total_expenditure
0,Afghanistan,Developing,269.062500,78.250000,107.562500,8.252500
1,Albania,Developing,45.062500,0.687500,0.937500,5.945625
2,Algeria,Developing,114.133333,20.266667,23.466667,4.604000
3,Angola,Developing,328.133333,84.933333,134.933333,3.919333
4,Argentina,Developing,105.333333,10.266667,11.533333,6.912667
...,...,...,...,...,...,...
138,Uruguay,Developing,120.200000,0.600000,0.800000,8.750000
139,Uzbekistan,Developing,184.866667,22.400000,26.266667,5.638000
140,Vanuatu,Developing,146.200000,0.000000,0.000000,3.928667
141,Zambia,Developing,375.733333,33.866667,53.200000,5.824000
142,Zimbabwe,Developing,470.800000,26.866667,41.400000,6.158667

# **Interactive data description & visualization**

In [ ]:
#adjust visualize_mortality_data to take y-var as input
def visualize_mortality_data(y_var, mean_outcomes):
  
  chart = alt.Chart(mean_outcomes).mark_point().encode(
      x= 'mean_total_expenditure:Q', 
      y=f'mean({y_var}):Q', 
      column = 'status', 
      color = 'status',
      shape = 'status', 
      tooltip='country').properties(title = 'relationship between health expanditure and mortality')
  
  display(chart)

In [ ]:
# with this interaction the difference in adult mortality, under-five deaths and infant deaths can be compared between the developed and the undeveloped countries 
interact(visualize_mortality_data,
          y_var= widgets.Dropdown(options= ['mean_adult_mortality', 'mean_infant_deaths', 'mean_underfive_deaths']),
        
         mean_outcomes=fixed(mean_outcomes));

interactive(children=(Dropdown(description='y_var', options=('mean_adult_mortality', 'mean_infant_deaths', 'me

The user can choose the country of which data they want to dive into a bit more

In [ ]:
all_countries = outcomes.loc[:, "country"].unique()
all_countries

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Costa Rica', 'Croatia', 'Cyprus',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'Nicaragua', 'Niger', 'Nigeria', 'Norway',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'Sao Tome and Principe',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
def select_country(country, df):
  return outcomes.loc[outcomes['country'] == country, ]

In [ ]:
interact(select_country, country=all_countries, df=fixed(outcomes));

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Albania', 'Algeria', 'Angola',

#**Conclusion**

In certain developing countries the mortality rate is on average higher than in developed ones. However, health expenditure is not the only important factor influencing mortality in a country. 

In conclusion, we couldn't find a definite correlation between mortality rates and health expenditure. More research considering other factors should be done in order to prove this correlation.

#**contribution statement** 
1. loading dataset, stripping the column names, setting subset --> together during the session
2. exploring the data --> Gabriela 
3. delete the missing values --> Julie
4. descriptive statistics --> Julie
5. visualisation graph --> Gabriela
6. interaction in graph --> Julie 
7. interaction table --> Gabriela 
8. conclusion --> together 
9. transforming to github --> together